@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model CrudMaquila.Models.produccion_terminada



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>produccion_terminada</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.prenda_terminada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prenda_terminada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_fabricacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_fabricacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cantidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cantidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.id_cliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.id_cliente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.id_departamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.id_departamento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.id_inventario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.id_inventario)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
