@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model IEnumerable<CrudMaquila.Models.produccion_terminada>


<h2>PRODUCCION</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PRODUCCION TERMINADA</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prenda_terminada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_fabricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_inventario)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.prenda_terminada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_fabricacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_inventario)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
